$bd-purple:        #4c0bce;
$bd-violet:        #5468ff;
$bd-purple-light:  $bd-purple;
$bd-accent:        #ffe484;

:root,
[data-bs-theme="light"] {
  --bd-purple: #{$bd-purple};
  --bd-violet: #{$bd-violet};
  --bd-accent: #{$bd-accent};
  --bd-violet-rgb: #{to-rgb($bd-violet)};
  --bd-accent-rgb: #{to-rgb($bd-accent)};
  --bd-pink-rgb: #{to-rgb($pink-500)};
  --bd-teal-rgb: #{to-rgb($teal-500)};
  --bd-violet-bg: var(--bd-violet);
  --bd-toc-color: var(--bd-violet);
  --bd-sidebar-link-bg: rgba(var(--bd-violet-rgb), .1);
  --bd-callout-link: #{to-rgb($blue-600)};
  --bd-callout-code-color: #{$pink-600};
  --bd-pre-bg: var(--bs-tertiary-bg);
  --bs-navbar-nav-link-padding-x: 1.25rem;
}

// Content
$content-padding-desktop: 3rem 3rem 1.5rem !default;
$content-padding-mobile: 1.5rem 1.5rem .75rem !default;
$main-transition: margin-left .35s ease-in-out, left .35s ease-in-out, margin-right .35s ease-in-out, right .35s ease-in-out !default;

$highlight-text-color: $bd-violet;
$sm-link-bg: #c7cdf5;
