<footer class="text-center text-lg-start">
  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-4">
          <p class="mb-5">
            <%= link_to image_tag("xyz/logo.svg", class: "d-inline-block align-text-top"), root_path %>
          </p>
          <p class="fw-medium mb-5 lorem">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <form class="d-flex" role="search">
            <input class="form-control email-field me-2 rounded-5" type="search" id="footerEmail" placeholder="Email address" aria-label="Email address">
          </form>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h5 class="fw-bold mb-4">Menu</h5>
          <div class="nav-links text-muted">
            <p><a href="#!" class="text-reset">Shop all</a></p>
            <p><a href="#!" class="text-reset">About Is</a></p>
            <p><a href="#!" class="text-reset">Community</a></p>
            <p><a href="#!" class="text-reset">FAQs</a></p>
          </div>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h5 class="fw-bold mb-4">Support</h5>
          <div class="nav-links text-muted">
            <p><a href="#!" class="text-reset">Shipping & Returns</a></p>
            <p><a href="#!" class="text-reset">Help & FAQ</a></p>
            <p><a href="#!" class="text-reset">Terms & Conditions</a></p>
            <p><a href="#!" class="text-reset">Privacy Policy</a></p>
            <p><a href="#!" class="text-reset">Contact</a></p>
            <p><a href="#!" class="text-reset">Login</a></p>
          </div>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-md-0 mb-4">
          <h5 class="fw-bold mb-4">Resources</h5>
          <div class="nav-links text-muted">
            <p><a href="#!" class="text-reset">Shipping & Returns</a></p>
            <p><a href="#!" class="text-reset">Help & FAQ</a></p>
            <p><a href="#!" class="text-reset">Terms & Conditions</a></p>
            <p><a href="#!" class="text-reset">Privacy Policy</a></p>
            <p><a href="#!" class="text-reset">Contact</a></p>
            <p><a href="pages/isbn-convert" class="text-reset">Convert</a></p>
          </div>
        </div>
        <div class="col-md-3 col-lg-1 col-xl-1 mx-auto mb-md-0">
          <a href="" class="btn text-reset chat-link">&nbsp;</a>
          <p class="mb-4">&nbsp;</p>
        </div>
      </div>
    </div>
  </section>
  <div class="container">
    <div class="row mb-4 px-4x">
      <div class="col-sm text-start">
        <div class="text-start copyright">
          <span class="align-middle">© 2022 Brainly.</span>
        </div>
      </div>
      <div class="col-sm">
        <div class="text-end sm-links">
          <a href="" class="btn me-4 text-reset rounded-circle sm-link-facebook">&nbsp;</a>
          <a href="" class="btn me-4 text-reset rounded-circle sm-link-linkedin">&nbsp;</a>
          <a href="" class="btn me-4 text-reset rounded-circle sm-link-twitter">&nbsp;</a>
        </div>
      </div>
    </div>
  </div>
</footer>
