<div class="toast-container position-fixed top start-50 translate-middle-x my-2 ms-5">
  <div id="isbnToast" class="toast align-items-center bg-danger text-light border-0" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="d-flex">
      <div class="toast-body fw-bolder">
        Invalid ISBN.
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto text-light" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
  </div>
</div>
