<div class="container">
  <div class="card mb-3 border-0">
    <div class="row g-0">
      <div class="col-md-4">
        <div class="card-body">
          <h1 class="card-title fw-bolder">The Cheapest Textbooks</h1>
          <h3 class="card-subtitle fw-bolder highlight-text my-4">Save Up To 90% On Millions Of Titles</h3>
          <p class="card-text my-4">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
          <a href="#" class="btn btn-primary btn-bd-primary">Get started ></a>
        </div>
      </div>
      <div class="col-md-8 text-end">
        <%= image_tag("pages/hero illustration.svg", class: "img-fluid border-0") %>
      </div>
    </div>
  </div>
</div>
